/* ----------------------------------------------fonts------------------------------------------- */
@font-face {
  font-family: 'Segoe UI';
  src: url('SegoeUI.eot');
  src: local('Segoe UI'), local('SegoeUI'), url('SegoeUI.eot?#iefix') format('embedded-opentype'),
    url('SegoeUI.woff2') format('woff2'), url('SegoeUI.woff') format('woff'),
    url('SegoeUI.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Segoe UI';
  src: url('SegoeUI-SemiBold.eot');
  src: local('Segoe UI Semibold'), local('SegoeUI-SemiBold'),
    url('SegoeUI-SemiBold.eot?#iefix') format('embedded-opentype'),
    url('SegoeUI-SemiBold.woff2') format('woff2'), url('SegoeUI-SemiBold.woff') format('woff'),
    url('SegoeUI-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Segoe UI';
  src: url('SegoeUI-Bold.eot');
  src: local('Segoe UI Bold'), local('SegoeUI-Bold'),
    url('SegoeUI-Bold.eot?#iefix') format('embedded-opentype'),
    url('SegoeUI-Bold.woff2') format('woff2'), url('SegoeUI-Bold.woff') format('woff'),
    url('SegoeUI-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

/* ----------------------------------------------normalization------------------------------------------- */

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 400;
}

a {
  text-decoration: none;
}

img {
  vertical-align: top;
}

ul,
ol,
li {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}
input:focus {
  outline: none;
}
html,
body {
  background-color: white;
  height: 100%;
  line-height: 1;
  font-size: 16px;
  color: black;
}

/* ----------------------------------------------tech------------------------------------------- */

.wrapper {
  min-height: 100%;
  overflow: hidden;
}

._container {
  max-width: 1400px;
  margin: 0 auto;
}

/* ----------------------------------------------header------------------------------------------- */
.header__container {
  margin-bottom: -24px;
  background-color: #6725a8;
  min-height: 112px;
  display: flex;
  align-items: center;
  padding: 5px 25px 24px 25px;
  justify-content: space-between;
  color: white;
}

.header__logo {
  display: flex;
  max-width: 170px;
  gap: 15px;
}

.header__logo_img_mobile {
  cursor: pointer;
  display: none;
}
.header__logo_img {
  cursor: pointer;
}
.header__logo_text {
  cursor: default;
  text-align: center;
  font-style: normal;
  font-weight: 600;
  font-size: calc((100vw - 320px) / (1400 - 320) * (28 - 26) + 26px);
  line-height: 24px;
  letter-spacing: 0.02em;
  font-variant: small-caps;
}
.header__search {
  cursor: text;
  margin: 0px 32px;
  height: 48px;
  background: rgb(133, 81, 185);
  border-radius: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 22px 14px 20px;
  flex: 1;
}
.header__search_mobile {
  cursor: pointer;
  transform: translateY(2px);
  display: none;
}
.input__search {
  min-width: 30px;
  background: rgb(133, 81, 185);
  flex: 1;
}

.input__search::placeholder {
  color: rgb(191, 163, 218);
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
}

.input__search:focus {
  outline: none;
}
.search__img {
  cursor: pointer;
}
.header__menu {
  width: 170px;
}

.menu__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.menu__item {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.item__img {
  margin-bottom: 11px;
}
/* .item__text {
} */

/* ----------------------------------------------media---------------------------------------------- */

@media (max-width: 900px) {
  .main__container {
    flex-direction: column !important;
    gap: 0px;
    justify-content: space-between;
  }
}
@media (max-width: 670px) {
  .item__price_mobile {
    display: flex !important;
  }
  .header__menu {
    display: none;
  }
  .header__search {
    margin-right: 0;
  }

  .cart__list_item,
  .missing__goods_list_item {
    flex-direction: column;
    justify-content: flex-start !important;
    align-items: flex-start !important;
  }

  .cart__count {
    position: relative;
  }

  .item__price {
    display: none !important;
  }
  .cart__item_interactions {
    flex-direction: row !important;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  .cart__item_right {
    width: 100%;
  }

  .missing__goods_item_right {
    display: none !important;
  }

  .missing__goods_item_interactions_mobile {
    display: flex !important;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
  }
}

@media (max-width: 450px) {
  .receiver__area {
    flex-direction: column;
  }

  .receiver__area > * {
    width: 100% !important;
  }
  .payment__block,
  .delivery__block {
    display: none !important;
  }

  .total__price {
    padding-left: 15px !important;
    padding-right: 15px !important;
  }
  .main__container {
    padding-left: 0px !important;
    padding-right: 0px !important;
  }
  .delivery__box_item {
    gap: 12px !important;
    /* justify-content: space-between !important; */
    flex-direction: column !important;
  }
  .header__search {
    display: none;
  }
  .header__search_mobile {
    display: block;
  }
  .main__cart {
    margin-bottom: 24px;
  }

  .main__cart,
  .missing__goods,
  .delivery__box,
  .way__pay,
  .receiver {
    padding-left: 15px !important;
    padding-right: 15px !important;
  }

  .receiver__area_up,
  .receiver__area_bottom {
    flex-direction: column !important;
  }

  .popup {
    height: 100% !important;
    border-radius: 0px !important;
  }

  .popup__pay_button,
  .popup__delivery_button {
    width: 100%;
    text-align: center;
  }
}

@media (max-width: 320px) {
  /* header */

  .box {
    padding: 16px 16px 24px 16px !important;
  }
  .img,
  .img__filter {
    height: 106px !important;
    width: 80px !important;
  }
  .item__size_mobile {
    display: block !important;
  }
  .item__size {
    display: none !important;
  }

  .unknown__checkbox {
    display: flex !important;
  }

  .item__fabricator {
    display: none !important;
  }
  .flexbox__info {
    display: none !important;
  }
  .cart__list_item:not(:last-child),
  .missing__goods_list_item:not(:last-child) {
    border-bottom: 1px solid #cecece;
  }

  .item__description {
    max-height: 40px;
    overflow: hidden;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px !important;
    text-overflow: ellipsis !important;
  }

  .cart__item_checkbox {
    position: absolute;
    top: 4px;
    left: 4px;

    background: #f4f3f3;
  }
  .item__mixer {
    width: 80px !important;
    height: 32px !important;
  }

  .header__logo {
    max-width: 250px;
  }
  .header__logo_img {
    display: none;
  }
  .header__logo_img_mobile {
    display: block;
  }

  .header__container,
  .footer__container {
    padding-left: 15px !important;
    padding-right: 15px !important;
  }
}
/* ----------------------------------------------common------------------------------------------- */
.like__color {
  fill: #d548be !important;
}

.rotate {
  transform: rotate(180deg);
}
.hide {
  display: none !important;
}

.show {
  opacity: 1 !important;
  display: block !important;
}
.box {
  max-width: 891px;
  padding: 16px 24px 24px;
  background: #ffffff;
  border-radius: 16px;
}
.header {
  font-weight: 700;
  line-height: calc((100vw - 320px) / (1400 - 320) * (32 - 28) + 28px);
  font-size: calc((100vw - 320px) / (1400 - 320) * (24 - 20) + 20px);
}
.change {
  color: #cb11ab;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
}
.font_pop {
  font-size: 13px;
  line-height: 16px;
  font-weight: 700;
  text-transform: uppercase;
}
.font_m,
.font_b,
.font_l {
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
}

.font_m {
  font-weight: 400;
}
.font_s {
  font-size: 13px;
  line-height: 16px;
  font-weight: 400;
}
.font_b {
  font-weight: 600;
}
.font_l {
  font-weight: 700;
}

.cart__list_head,
.missing__goods_list_head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 17px;
  padding-top: 17px;
  border-bottom: 1px solid #dbdbdf;
}

.unknown__checkbox {
  display: none;
  position: absolute;
  top: 4px;
  left: 4px;
  background: #f4f3f3;
}

.count,
.item__counter {
  color: white;
  position: absolute;
  padding: 1px 7px;
  background: #f55123;
  border-radius: 50px;

  font-weight: 700;
  font-size: 10px;
  line-height: 18px;
}

.info_wrapper {
  position: relative;
}

.count {
  top: 10px;
  right: 30px;
}

.item__counter {
  z-index: 50;
  top: -10px;
  right: -5px;
}

.cart__list,
.missing__goods_list {
  display: flex;
  flex-direction: column;
}

.cart__list_item,
.missing__goods_list_item {
  padding: 11px 0px 16px 0px;
  gap: 10px;
  justify-content: space-between;
  display: flex;
}

.cart__item_parametrs,
.missing__goods_item_parametrs {
  max-width: 275px;
  margin-left: 16px;
}
.missing__goods_item_parametrs {
  color: #a0a0a4;
}

.cart__item_left,
.missing__goods_item_left {
  display: flex;
  max-width: 397px;
  position: relative;
}

.img,
.img__filter {
  height: 96px;
  width: 72px;
}

.cart__item_right,
.missing__goods_item_right {
  min-width: 226px;
  display: flex;
  justify-content: space-between;
}
/* ----------------------------------------------main------------------------------------------- */

img[alt='arrow'],
.checkbox,
.cart__list_checkbox,
.item__like,
.item__delete,
.item__minus,
.item__plus,
#object,
img[alt='info'],
.edit,
.date,
.free,
.order__button,
.mark {
  cursor: pointer;
}

.main__container {
  padding: 35px 25px;
  position: relative;
  display: flex;
  /* justify-content: space-between; */
  gap: 32px;
  min-height: auto;
  background: #f6f6fa;
  border-radius: 24px;
  overflow: hidden;
  z-index: 50;
}

.main__right_part {
  max-width: 429px;
  flex: 1;
}

.main__left_part {
  flex: 2;
  display: flex;
  max-width: 891px;
  flex-direction: column;
}

/* --------------------------------------------------cart-------------------------------------------------------- */

.cart__header {
  display: flex;
  font-weight: 700;
  font-size: 28px;
  line-height: 36px;
  font-size: calc((100vw - 320px) / (1400 - 320) * (28 - 20) + 20px);
  margin-bottom: 28px;
}

.cart__list_head {
  display: flex;
}

.cart__list_checkbox,
.checkbox__payment {
  display: flex;
}

.cart__list_checkbox,
.checkbox__payment,
.checkbox {
  /* display: flex; */
  align-items: center;
  justify-content: center;
  height: 22px;
  width: 22px;
  border: 1px solid #c5c5c8;
  border-radius: 6px;
  cursor: pointer;
}

.cart__item_checkbox {
  display: flex;
}

.white__mark {
  display: none;
}

.checkbox:hover img {
  display: block;
}

.checkbox:hover {
  background: #cb11ab;
  border: 1px solid transparent;
}
.checkbox__checked {
  background: #cb11ab !important;
  border: 1px solid transparent;
}

.flexbox {
  display: flex;
  align-items: center;
  gap: 11px;
}

.item__description {
  font-style: normal;
  font-size: calc((100vw - 320px) / (1400 - 320) * (16 - 14) + 14px);
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 8px;
}

.flexbox__info {
  position: relative;
  align-self: flex-start;
  display: inline-flex;
  gap: 10px;
  align-items: center;
}

.info {
  position: relative;
}

.show__flex {
  display: flex !important;
}

.info__popup {
  box-shadow: 0px 2px 10px rgb(0 0 0 / 15%), 0px 0px 1px rgb(0 0 0 / 30%);
  position: absolute;
  z-index: 50;
  gap: 8px;
  left: 0;
  top: 25px;
  min-width: 280px;
  height: auto;
  display: none;
  flex-direction: column;
  background: white;
  border-radius: 8px;
  padding: 11px 16px 13px 16px;
}

.info__popup_place {
  text-align: center;
}

.flexbox {
  align-self: flex-start;
  display: inline-flex;
  gap: 10px;
  align-items: center;
}
.item__color {
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
}

.item__size_mobile {
  height: 22px;
  width: 22px;
  border-radius: 6px;
  position: absolute;
  bottom: 4px;
  left: 4px;
  background: #f4f3f3;
  text-align: center;
  padding-top: 2px;
  display: none;
}

.item__size {
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
}
.item__place {
  font-style: normal;
  margin: 8px 0px 4px 0px;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: #a0a0a4;
}
.item__fabricator {
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: #a0a0a4;
}

.cart__item_interactions,
.missing__goods_item_interactions {
  display: flex;
  flex-direction: column;
  min-width: 50%;
}

.item__interaction {
  display: flex;
}

.item__interaction {
  justify-content: flex-end;
}
.item__mixer {
  width: 100px;
  height: 44px;
  background-color: white;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 8px;
}

.item__left {
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: #ff3b30;
  margin-bottom: 10px;
}

.item__price {
  display: flex;
  min-width: 50%;
  flex-direction: column;
  align-items: flex-end;
  margin-left: 10px;
}

.item__like {
  z-index: 10;
  cursor: pointer;
  margin-right: 20px;
}
.item__actual_price {
  font-size: calc((100vw - 320px) / (1400 - 320) * (16 - 14) + 14px);
  font-weight: 700;
  line-height: 24px;
  margin-bottom: 5px;
}
.item__prev_price {
  font-weight: 400;
  font-size: calc((100vw - 320px) / (1400 - 320) * (13 - 10) + 10px);
  line-height: 16px;
  border-bottom: 1px dashed #a0a0a4;
  margin-bottom: 5px;
  transform: translateY(-3px);
  color: #a0a0a4;
}

.item__price_mobile {
  display: none;
  align-items: flex-end;
  gap: 5px;
}

/* ----------------------------------------------popup-change-card--------------------------------------------- */

.popup__bg {
  z-index: 1000;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(5, 0, 10, 0.3);
  opacity: 0;
  pointer-events: none;
  transition: 0.5s all;
}

.popup__bg.active {
  opacity: 1;
  pointer-events: all;
  transition: 0.5s all;
}
.popup__delivery_adress {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.popup__pay_radio,
.popup__delivery_radio {
  align-self: flex-start;
  margin-top: 5px;
  min-height: 16px;
  min-width: 16px;
  border-radius: 50px;
  border: 1px solid #a0a0a4;
  margin-right: 6px;
  cursor: pointer;
}

.delete__grey {
  align-self: flex-start;
  margin-top: 5px;
  margin-left: 16px;
}

.popup__pay_radio:hover,
.popup__delivery_radio:hover {
  border: 5px solid #cb11ab !important;
}

.popup__pay_radio.active,
.popup__delivery_radio.active {
  /* flex: 1; */
  border: 5px solid #cb11ab !important;
}

.popup {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  background: white;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  border-radius: 16px;
  min-height: 408px;
  padding: 16px 24px 16px 24px;
  transition: 0.5s all;
}

.popup__pay {
  max-width: 400px;
  width: 100%;
  height: 1px;
}
.popup__delivery {
  max-width: 500px;
  width: 100%;
  height: auto;
}

.popup.active {
  transform: translate(-50%, -50%) scale(1);
  transition: 0.5s all;
}

.close-popup {
  position: absolute;
  top: 20px;
  right: 24px;
  cursor: pointer;
}

.popup__pay_body,
.popup__delivery_body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.popup__pay_header,
.popup__delivery_header {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
}

.popup__pay_list,
.popup__delivery_list {
  /* overflow: auto; */
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.popup__delivery_item_right {
  display: flex;
  gap: 4px;
}

.popup__pay_up,
.popup__delivery_up {
  margin-bottom: 50px;
  display: flex;
  gap: 13px;
  flex-direction: column;
  justify-content: space-between;
}

.popup__pay_item {
  display: flex;
  gap: 4px;
  align-items: center;
}

.popup__delivery_item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.popup__delivery_buttons {
  margin-bottom: 13px;
  display: flex;
  align-items: center;
  gap: 8px;
}
#delivery__list_home {
  /* display: none; */
}
.popup__delivery_switch_btn {
  max-width: 224px;
  width: 100%;
  cursor: pointer;
  height: 36px;
  padding-top: 5px;
  background: #ffffff;
  border: 2px solid rgba(203, 17, 171, 0.15);

  border-radius: 20px;
  text-align: center;
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  line-height: 16px;
}

.popup__delivery_switch_btn.active {
  border: 2px solid #cb11ab;
}

.popup__pay_checkbox {
  margin-right: 6px;
}

.popup__pay_button,
.popup__delivery_button {
  align-self: flex-start;
  background: #cb11ab;
  cursor: pointer;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.08);
  border-radius: 8px;
  color: white;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  padding: 8px 48px 13px 48px;
}

/* 
.popup label {
  width: 100%;
  margin-bottom: 25px;
  display: flex;
  flex-direction: column-reverse;
}

.popup .label__text {
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 500;
  color: #cfd0d3;
  margin-bottom: 5px;
}

.popup input {
  height: 45px;
  font-size: 18px;
  border: none;
  outline: none;
  border-bottom: 1px solid #cfd0d3;
}

.popup input:focus {
  border-bottom: 1px solid #2982ff;
}

.popup input:focus + .label__text {
  color: #2982ff;
}

.popup textarea {
  resize: none;
  width: 100%;
  height: 150px;
  border: none;
  outline: none;
  border-bottom: 1px solid #cfd0d3;
  font-size: 18px;
  padding-top: 5px;
}

.popup textarea:focus {
  border-bottom: 1px solid #2982ff;
}

.popup textarea:focus + .label__text {
  color: #2982ff;
}

.popup button {
  width: 100%;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 18px;
  border: 2px solid #2982ff;
  background: #2982ff;
  cursor: pointer;
  text-transform: uppercase;
  transition: 0.5s all;
}

.popup button:hover {
  background: #fff;
  color: #2982ff;
  transition: 0.5s all;
} */
/* -----------------------------------------------missing-goods---------------------------------------------- */
.missing__goods_text {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
}
.missing__goods {
  /* margin-top: 20px; */
  margin-bottom: 24px;
}

.img__filter {
  filter: grayscale(100%);
}

.missing__goods_item_interactions_mobile {
  display: none;
}

/* -----------------------------------------------delivery-------------------------------------------------- */
.delivery__box {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.delivery__box_up {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.delivery__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.delivery__box_list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.delivery__box_item {
  display: flex;
  gap: 32px;
  justify-content: flex-start;
}
.delivery__box_left {
  align-self: flex-start;
  min-width: 170px;
}

.img__wrapper {
  position: relative;
}

.delivery__box_right,
.display__box_right_point {
  display: flex;
}

.delivery__box_right {
  justify-content: flex-start;
  gap: 8px;
}
.display__box_right_point {
  flex-direction: column;
  gap: 4px;
}
/* .delivey__box_adress {
} */
.delivery__box_data {
  display: flex;
  gap: 8px;
  align-items: center;
}
.delivery__box_mark {
  display: flex;
  align-items: center;
  gap: 5px;
}

.delivery__box_bottom {
  display: flex;
  align-items: center;
  gap: 9px;
}

/* -----------------------------------------------total-price---------------------------------------------- */
.total__price {
  max-width: 429px;
  background: white;

  padding: 16px 24px 24px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.15), 0px 0px 1px rgba(0, 0, 0, 0.3);
  border-radius: 16px;
}

.total__price_parts {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 24px;
}

.total__price_list {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.price__list_item {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.total__price_header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.price_list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.total_price_item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.date {
  color: #cb11ab;
  border-bottom: 1px dashed #cb11ab;
}
.free {
  color: #3bc191;
  border-bottom: 1px dashed #3bc191;
}

.delivery__list_item {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.delivery__block {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.delivery__block_header,
.payment__block_header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.payment__block_card,
.card__block {
  display: flex;
  gap: 8px;
  justify-content: flex-start;
  align-items: center;
}

.payment__block {
  display: flex;
  flex-direction: column;
}

.payment__list_item {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.payment__data {
  display: flex;
  flex-direction: column;
  padding: 8px 8px 12px 8px;
  background: #f6f6fa;
  border-radius: 8px;
}

.delivery__block_adress {
  display: flex;
}
.delivery__block_dates {
  display: flex;
  color: #cb11ab;
  font-size: 13px;
  line-height: 16px;
  font-weight: 400;
}
.flex {
  display: flex;
  align-items: center;
  gap: 8px;
}
.info__block {
  display: flex;
  align-items: center;
  background: #f6f6fa;
  border-radius: 8px;
  padding: 8px 8px;
  gap: 9px;
}
.payment__list_item {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.total__price_bottom {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.order__button {
  color: white;
  width: 100%;
  background: #cb11ab;
  border-radius: 8px;
  padding: 15px 0px;
}
.agreements {
  display: flex;
  align-items: center;
  gap: 8px;
}
.underline {
  border-bottom: 1px solid #e1e1e1;
}
/* -----------------------------------------------way-pay------------------------------------------- */
.way__pay {
  margin-top: 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.way__pay_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.way__pat_text {
  display: flex;
  color: #a0a0a4;
}
.way__pay_box {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
/* -----------------------------------------------receiver------------------------------------------*/
.receiver {
  margin-top: 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.receiver__area {
  max-width: 891px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 2px;
  margin-bottom: 10px;
}

.receiver__input_name,
.receiver__input_surname {
  width: 44%;

  flex-direction: column;
  display: flex;
}

.receiver__input_email,
.receiver__input_phone,
.receiver__input_inn {
  width: 27%;
  flex-direction: column;
  display: flex;
}

.input__block {
  display: flex;
  flex-direction: column;
}

.input {
  height: 33px;
  padding-bottom: 3px;
  border-bottom: 1px solid #a0a0a0;
  font-weight: 400;
  font-size: 16px;
  width: 100%;
  line-height: 24px;
}

.input:focus + .input__block_error {
  /* background: red;
  opacity: 1 !important; */
}
.input__block_data {
  opacity: 1;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: black;
}
.input__block_label,
.input__block_error {
  opacity: 0;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: #a0a0a4;
}

/* ----------------------------------------------footer------------------------------------------- */
.footer__container {
  transform: translateY(-24px);
  padding-top: 24px;
  background-color: #6725a8;
  min-height: 112px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  z-index: -50;
  display: flex;
  justify-content: center;
  align-items: center;
}
