/* ----------------------------------------------fonts------------------------------------------- */
@font-face {
  font-family: 'Segoe UI';
  src: url('SegoeUI.eot');
  src: local('Segoe UI'), local('SegoeUI'), url('SegoeUI.eot?#iefix') format('embedded-opentype'),
    url('SegoeUI.woff2') format('woff2'), url('SegoeUI.woff') format('woff'),
    url('SegoeUI.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Segoe UI';
  src: url('SegoeUI-SemiBold.eot');
  src: local('Segoe UI Semibold'), local('SegoeUI-SemiBold'),
    url('SegoeUI-SemiBold.eot?#iefix') format('embedded-opentype'),
    url('SegoeUI-SemiBold.woff2') format('woff2'), url('SegoeUI-SemiBold.woff') format('woff'),
    url('SegoeUI-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Segoe UI';
  src: url('SegoeUI-Bold.eot');
  src: local('Segoe UI Bold'), local('SegoeUI-Bold'),
    url('SegoeUI-Bold.eot?#iefix') format('embedded-opentype'),
    url('SegoeUI-Bold.woff2') format('woff2'), url('SegoeUI-Bold.woff') format('woff'),
    url('SegoeUI-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

/* ----------------------------------------------normalization------------------------------------------- */

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI';
  font-weight: 400;
}

a {
  text-decoration: none;
}

img {
  vertical-align: top;
}

ul,
ol,
li {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

html,
body {
  background-color: white;
  height: 100%;
  line-height: 1;
  font-size: 16px;
  color: black;
}

/* ----------------------------------------------tech------------------------------------------- */

.wrapper {
  min-height: 100%;
  overflow: hidden;
}

._container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0px 25px;
}

/* ----------------------------------------------header------------------------------------------- */
.header__container {
  padding-top: 5px;
  padding-bottom: 24px;
  margin-bottom: -24px;
  background-color: #6725a8;
  min-height: 112px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
}

.header__logo {
  display: flex;
  max-width: 170px;
  gap: 15px;
}
/* .logo {
} */
.header__logo_img_mobile {
  cursor: pointer;
  display: none;
}
.header__logo_img {
  cursor: pointer;
}
.header__logo_text {
  cursor: default;
  text-align: center;
  font-style: normal;
  font-weight: 600;
  font-size: calc((100vw - 320px) / (1400 - 320) * (28 - 26) + 26px);
  line-height: 24px;
  letter-spacing: 0.02em;
  font-variant: small-caps;
}
.header__search {
  cursor: text;
  margin: 0px 32px;
  height: 48px;
  background: rgb(133, 81, 185);
  border-radius: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 22px 14px 20px;
  flex: 1;
}
.header__search_mobile {
  cursor: pointer;
  transform: translateY(2px);
  display: none;
}
.input__search {
  min-width: 30px;
  background: rgb(133, 81, 185);
  flex: 1;
}

.input__search::placeholder {
  color: rgb(191, 163, 218);
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
}

.input__search:focus {
  outline: none;
}
.search__img {
  cursor: pointer;
}
.header__menu {
  width: 170px;
}
/* .menu {
} */
.menu__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.menu__item {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.item__img {
  margin-bottom: 11px;
}
/* .item__text {
} */

/* ----------------------------------------------media---------------------------------------------- */

@media (max-width: 670px) {
  .item__price_mobile {
    display: flex !important;
  }
  .header__menu {
    display: none;
  }
  .header__search {
    margin-right: 0;
  }

  .cart__list_item,
  .missing__goods_list_item {
    flex-direction: column;
    justify-content: flex-start !important;
    align-items: flex-start !important;
  }

  .cart__item_right,
  .missing__goods_item_right {
    display: none !important;
  }
  .cart__item_interactions_mobile,
  .missing__goods_item_interactions_mobile {
    display: flex !important;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }

  .missing__goods_item_interactions_mobile {
    justify-content: flex-end !important;
  }
}

@media (max-width: 450px) {
  .header__search {
    display: none;
  }
  .header__search_mobile {
    display: block;
  }
}

@media (max-width: 320px) {
  /* header */

  .img,
  .img__filter {
    height: 106px !important;
    width: 80px !important;
  }
  .item__size_mobile {
    display: block !important;
  }
  .item__size {
    display: none !important;
  }
  .flexbox__info {
    display: none !important;
  }
  .cart__list_item:not(:last-child),
  .missing__goods_list_item:not(:last-child) {
    border-bottom: 1px solid #cecece;
  }

  .item__description {
    max-height: 40px;
    overflow: hidden;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px !important;
    text-overflow: ellipsis !important;
  }

  .checkbox {
    position: absolute;
    top: 4px;
    left: 4px;
    background: #f4f3f3;
  }
  .item__mixer {
    width: 80px !important;
    height: 32px !important;
  }

  .header__logo {
    max-width: 250px;
  }
  .header__logo_img {
    display: none;
  }
  .header__logo_img_mobile {
    display: block;
  }

  .main__container {
    padding: 15px 15px !important;
  }
}
/* ----------------------------------------------common------------------------------------------- */
.cart__list_head,
.missing__goods_list_head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 17px;
  border-bottom: 1px solid #dbdbdf;
}

.cart__list,
.missing__goods_list {
  display: flex;
  flex-direction: column;
}

.cart__list_item,
.missing__goods_list_item {
  padding: 11px 0px 16px 0px;
  gap: 10px;
  justify-content: space-between;
  display: flex;
}

.cart__item_parametrs,
.missing__goods_item_parametrs {
  max-width: 275px;
  margin-left: 16px;
}
.missing__goods_item_parametrs {
  color: #a0a0a4;
}

.cart__item_left,
.missing__goods_item_left {
  display: flex;
  max-width: 397px;
  position: relative;
}

.img,
.img__filter {
  height: 96px;
  width: 72px;
}

.cart__item_right,
.missing__goods_item_right {
  min-width: 226px;
  display: flex;
  justify-content: space-between;
}
/* ----------------------------------------------main------------------------------------------- */

img[alt='arrow'],
.checkbox,
.cart__list_checkbox,
.item__like,
.item__delete,
.item__minus,
.item__plus,
img[alt='info'] {
  cursor: pointer;
}

.main__container {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding-top: 35px;
  padding-bottom: 35px;
  min-height: auto;
  background: #f4f3f3;
  border-radius: 24px;
  overflow: hidden;
  z-index: 50;
}

.main__right_part {
  max-width: 429px;
}

.main__left_part {
  display: flex;
  max-width: 891px;
  flex: 1;
  flex-direction: column;
}

/* --------------------------------------------------cart-------------------------------------------------------- */

.cart__header {
  display: flex;
  font-weight: 700;
  font-size: 28px;
  line-height: 36px;
  font-size: calc((100vw - 320px) / (1400 - 320) * (28 - 20) + 20px);
  margin-bottom: 28px;
}

.cart__list_head {
  display: flex;
}

.cart__list_checkbox,
.checkbox {
  height: 22px;
  width: 22px;
  border: 1px solid #c5c5c8;
  border-radius: 6px;
}

.flexbox {
  display: flex;
  align-items: center;
  gap: 11px;
}

.item__description {
  font-style: normal;
  font-size: calc((100vw - 320px) / (1400 - 320) * (16 - 14) + 14px);
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 8px;
}

.flexbox__info {
  align-self: flex-start;
  display: inline-flex;
  gap: 10px;
  align-items: center;
}
.flexbox {
  align-self: flex-start;
  display: inline-flex;
  gap: 10px;
  align-items: center;
}
.item__color {
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
}

.item__size_mobile {
  height: 22px;
  width: 22px;
  border-radius: 6px;
  position: absolute;
  bottom: 4px;
  left: 4px;
  background: #f4f3f3;
  text-align: center;
  padding-top: 2px;
  display: none;
}

.item__size {
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
}
.item__place {
  font-style: normal;
  margin: 8px 0px 4px 0px;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: #a0a0a4;
}
.item__fabricator {
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: #a0a0a4;
}

.cart__item_interactions_mobile {
  display: none;
}
.cart__item_interactions,
.missing__goods_item_interactions {
  display: flex;
  flex-direction: column;
  min-width: 50%;
}

.item__interaction {
  display: flex;
}

.item__interaction {
  justify-content: flex-end;
}
.item__mixer {
  width: 100px;
  height: 44px;
  background-color: white;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 8px;
}
/* .item__minus {
}
.item__current_amount {
}
.item__plus {
} */
.item__left {
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: #ff3b30;
  margin-bottom: 10px;
}
/* .item__like_delete {
}

.item__delete {
}
*/
.item__price {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.item__like {
  margin-right: 20px;
}
.item__actual_price {
  font-size: calc((100vw - 320px) / (1400 - 320) * (16 - 14) + 14px);
  font-weight: 700;
  line-height: 24px;
  margin-bottom: 5px;
}
.item__prev_price {
  font-weight: 400;
  font-size: calc((100vw - 320px) / (1400 - 320) * (13 - 10) + 10px);
  line-height: 16px;
  border-bottom: 1px dashed #a0a0a4;
  margin-bottom: 5px;
  transform: translateY(-3px);
  color: #a0a0a4;
}

.item__price_mobile {
  display: none;
  align-items: flex-end;
  gap: 5px;
}
/* -----------------------------------------------missing-goods---------------------------------------------- */
.missing__goods_text {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
}
.missing__goods {
  margin-top: 20px;
}

.img__filter {
  filter: grayscale(100%);
}

.missing__goods_item_interactions_mobile {
  display: none;
}

/* -----------------------------------------------total-price---------------------------------------------- */
.total__price {
  min-width: 429px;
  min-height: 529px;
  padding: 16px 24px 24px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.15), 0px 0px 1px rgba(0, 0, 0, 0.3);
  border-radius: 16px;
}
/* ----------------------------------------------footer------------------------------------------- */
.footer__container {
  transform: translateY(-24px);
  padding-top: 24px;
  background-color: #6725a8;
  min-height: 112px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  z-index: -50;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* .footer__copyrights {
}
.footer__copyrights_text {
} */
